.body {
    background-color: #1E1E1E;
}

.h4 {
    margin-top: 125px;
    text-align: center;
    font-size: 12px;
    color: #6366F1;

}

.campoNota {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;;
    box-sizing: border-box;

}

.guardaNotas {
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}


#novaNota {
    width: 963px;
    height: 38px;
    border-radius: 2px;
    background-color: #27272C;
    color: #71717a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-color: #9CA3AF;
    border: none;

}



.botaoAdicionar {
    background-color: #6366F1;
    color: white;
    border-radius: 2px;
    border: none;
    height: 38px;

}

.CardPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 20px;

}

.cardGeral {
    border-radius: 15px;
    background-color: #27272C;
    width: 271px;
    height: 256px;
    color: white;
}

.cards p {
    margin: 20px;
}

.cards button {
    position: absolute;
    bottom: 30px;
    right: 300px;
    display: flex;
    gap: 8px;
}