.body {
    background-color: #1E1E1E;
    align-items: center;
}

.h4 {
    margin-top: 125px;
    text-align: center;
    font-size: 12px;
    color: #6366F1;
    
}

.campoNota {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.guardaNotas {
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}


#novaNota {
    width: 963px;
    height: 38px;
    border-radius: 2px;
    background-color: #27272C;
    color: #71717a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-color: #9CA3AF;
    border: none;

}



.botaoAdicionar {
    background-color: #6366F1;
    color: white;
    border-radius: 2px;
    border: none;
    
}

.cardGeral {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background-color: #27272C;
    width: 271px;
    height: 256px;

}